[Desktop Entry]
Type=Application
Name=Apt-Ex Package Manager
GenericName=Package Manager
Comment=Modern graphical package manager for Linux
Icon=apt-ex-package-manager
Exec=apt-ex
Terminal=false
Categories=System;PackageManager;Qt;
Keywords=package;apt;software;install;update;
